updated_master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_Aman":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/updated_master')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat(\n'\nSELECT \n    M.TableName,\n    M.SourceDB,\n    M.SourceSchema,\n    M.SourceTable,\n    M.TargetSchema,\n    M.StagingTable,\n    M.LoadType,\n    M.WatermarkColumn,\n    M.DependencyOrder,\n    M.StoredProcedureName,\n    M.PipelineName,\n    M.ProcessOrder,\n    M.RunMode,\n    M.StagingSchema,\n    M.PrimaryKeyColumn,\n\n    M.ScheduleCode AS MetadataScheduleCode,   -- ✅ renamed\n    S.ScheduleCode AS ScheduleCode,           -- ✅ keep only one \"ScheduleCode\"\n    S.is_active,\n    S.belong_DB\n\nFROM final_schema.MetaData_Config AS M\nJOIN final_schema.Schedule_Codes AS S\n    ON S.ScheduleCode = M.ScheduleCode\n\nWHERE \n    S.is_active = 1\n    AND M.IsActive = 1\n',\n\nif(\n    empty(pipeline().parameters.TableList),\n    \n    if(\n        empty(pipeline().parameters.ScCode),\n        '',\n        concat(\n            ' AND M.ScheduleCode = ''',\n            pipeline().parameters.ScCode,\n            ''''\n        )\n    ),\n\n    concat(\n        ' AND M.TableName IN (''',\n        join(\n            split(\n                replace(pipeline().parameters.TableList, ' ', ''),\n                ','\n            ),\n            ''','''\n        ),\n        ''')'\n    )\n),\n\n' ORDER BY M.DependencyOrder'\n)","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Switch1","type":"Switch","dependsOn":[],"userProperties":[],"typeProperties":{"on":{"value":"@item().ScheduleCode","type":"Expression"},"cases":[{"value":"SC01","activities":[{"name":"Execute_DB1","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"DB_1_PIPE","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"p_TableName":{"value":"@item().TableName","type":"Expression"},"p_SourceDB":{"value":"@item().SourceDB","type":"Expression"}}}}]},{"value":"SC02","activities":[{"name":"Execute_DB2","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"DB_2_PIPE","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"p_TableName":{"value":"@item().TableName","type":"Expression"},"p_SourceDB":{"value":"@item().SourceDB","type":"Expression"}}}}]},{"value":"SC03","activities":[{"name":"Execute_DB3","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"DB_3_PIPE","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"p_TableName":{"value":"@item().TableName","type":"Expression"},"p_SourceDB":{"value":"@item().SourceDB","type":"Expression"}}}}]},{"value":"SC04","activities":[{"name":"Execute_DB4","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"DB_4_PIPE","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"p_TableName":{"value":"@item().TableName","type":"Expression"},"p_SourceDB":{"value":"@item().SourceDB","type":"Expression"}}}}]}]}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"string"},"ScCode":{"type":"string"}},"annotations":[],"lastPublishTime":"2026-05-04T09:58:26Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/metadata_ds')]","[concat(variables('factoryId'), '/pipelines/DB_1_PIPE')]","[concat(variables('factoryId'), '/pipelines/DB_2_PIPE')]","[concat(variables('factoryId'), '/pipelines/DB_3_PIPE')]","[concat(variables('factoryId'), '/pipelines/DB_4_PIPE')]"]},{"name":"[concat(parameters('factoryName'), '/metadata_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":"FINAL_DB"}},"folder":{"name":"amans-ds"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":"final_schema","table":"metadata_config"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DB_1_PIPE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LKP_Metadata","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat(\n'\nSELECT \n    M.TableName,\n    M.SourceDB,\n    M.SourceSchema,\n    M.SourceTable,\n    M.TargetSchema,\n    M.StagingTable,\n    M.LoadType,\n    M.WatermarkColumn,\n    M.DependencyOrder,\n    M.StoredProcedureName,\n    M.PipelineName,\n    M.ProcessOrder,\n    M.RunMode,\n    M.StagingSchema,\n    M.PrimaryKeyColumn,\n    M.ScheduleCode AS MetadataScheduleCode,\n\n    S.ScheduleCode AS ScheduleCode,\n    S.is_active,\n    S.belong_DB\n\nFROM final_schema.metadata_config AS M\nJOIN final_schema.Schedule_Codes AS S\n    ON S.ScheduleCode = M.ScheduleCode\n\nWHERE S.is_active = 1 \n  AND M.IsActive = 1\n',\nif(\n    empty(pipeline().parameters.TableList),\n    ' AND M.ScheduleCode = ''SC01'' ',\n    concat(\n        ' AND M.TableName IN (''',\n        join(\n            split(pipeline().parameters.TableList, ','),\n            ''','''\n        ),\n        ''')'\n    )\n),\n' ORDER BY M.DependencyOrder'\n)","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_Tables","type":"ForEach","dependsOn":[{"activity":"LKP_Metadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LKP_Metadata').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"IF_FullOrIncremental","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(item().LoadType, 'FULL')","type":"Expression"},"ifFalseActivities":[{"name":"LKP_Watermark","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT last_watermark_value FROM final_schema.watermark_control WHERE target_table = ''', item().SourceTable, ''' AND is_active = 1')","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":true}},{"name":"COPY_Incremental_Load","type":"Copy","dependsOn":[{"activity":"LKP_Watermark","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable, ' WHERE ', item().WatermarkColumn, ' > ''', activity('LKP_Watermark').output.firstRow.last_watermark_value, '''')","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)","type":"Expression"},"writeBehavior":"insert"},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().StagingSchema","type":"Expression"},"tableName":{"value":"@item().StagingTable","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"COPY_Full_Load","type":"Copy","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable)","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@{concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().TargetSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}]}]}},{"name":"SP_MERGE_P1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"IF_FullOrIncremental","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[final_schema].[SP_GENERIC_MERGE]","storedProcedureParameters":{"LoadType":{"value":{"value":"@item().LoadType","type":"Expression"},"type":"String"},"PrimaryKeyColumn":{"value":{"value":"@item().PrimaryKeyColumn","type":"Expression"},"type":"String"},"StagingSchema":{"value":{"value":"@item().StagingSchema","type":"Expression"},"type":"String"},"StagingTable":{"value":{"value":"@item().StagingTable","type":"Expression"},"type":"String"},"TargetSchema":{"value":{"value":"@item().TargetSchema","type":"Expression"},"type":"String"},"TargetTable":{"value":{"value":"@item().SourceTable","type":"Expression"},"type":"String"},"WatermarkColumn":{"value":{"value":"@item().WatermarkColumn","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":"FINAL_DB"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"string"}},"folder":{"name":"Amans-pipe"},"annotations":[],"lastPublishTime":"2026-05-04T09:44:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/metadata_ds')]","[concat(variables('factoryId'), '/datasets/source_ds')]","[concat(variables('factoryId'), '/datasets/target_ds')]"]},{"name":"[concat(parameters('factoryName'), '/DB_2_PIPE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LKP_Metadata","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat(\n'\nSELECT \n    M.TableName,\n    M.SourceDB,\n    M.SourceSchema,\n    M.SourceTable,\n    M.TargetSchema,\n    M.StagingTable,\n    M.LoadType,\n    M.WatermarkColumn,\n    M.DependencyOrder,\n    M.StoredProcedureName,\n    M.PipelineName,\n    M.ProcessOrder,\n    M.RunMode,\n    M.StagingSchema,\n    M.PrimaryKeyColumn,\n    M.ScheduleCode AS MetadataScheduleCode,\n\n    S.ScheduleCode AS ScheduleCode,\n    S.is_active,\n    S.belong_DB\n\nFROM final_schema.metadata_config AS M\nJOIN final_schema.Schedule_Codes AS S\n    ON S.ScheduleCode = M.ScheduleCode\n\nWHERE S.is_active = 1 \n  AND M.IsActive = 1\n',\nif(\n    empty(pipeline().parameters.TableList),\n    ' AND M.ScheduleCode = ''SC02'' ',\n    concat(\n        ' AND M.TableName IN (''',\n        join(\n            split(pipeline().parameters.TableList, ','),\n            ''','''\n        ),\n        ''')'\n    )\n),\n' ORDER BY M.DependencyOrder'\n)","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_Tables","type":"ForEach","dependsOn":[{"activity":"LKP_Metadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LKP_Metadata').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"IF_FullOrIncremental","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(item().LoadType, 'FULL')","type":"Expression"},"ifFalseActivities":[{"name":"LKP_Watermark","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT last_watermark_value FROM final_schema.watermark_control WHERE target_table = ''', item().SourceTable, ''' AND is_active = 1')","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":true}},{"name":"COPY_Incremental_Load","type":"Copy","dependsOn":[{"activity":"LKP_Watermark","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable, ' WHERE ', item().WatermarkColumn, ' > ''', activity('LKP_Watermark').output.firstRow.last_watermark_value, '''')","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)","type":"Expression"},"writeBehavior":"insert"},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().StagingSchema","type":"Expression"},"tableName":{"value":"@item().StagingTable","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"COPY_Full_Load","type":"Copy","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable)","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@{concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().TargetSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}]}]}},{"name":"SP_MERGE_P1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"IF_FullOrIncremental","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[final_schema].[SP_GENERIC_MERGE]","storedProcedureParameters":{"LoadType":{"value":{"value":"@item().LoadType","type":"Expression"},"type":"String"},"PrimaryKeyColumn":{"value":{"value":"@item().PrimaryKeyColumn","type":"Expression"},"type":"String"},"StagingSchema":{"value":{"value":"@item().StagingSchema","type":"Expression"},"type":"String"},"StagingTable":{"value":{"value":"@item().StagingTable","type":"Expression"},"type":"String"},"TargetSchema":{"value":{"value":"@item().TargetSchema","type":"Expression"},"type":"String"},"TargetTable":{"value":{"value":"@item().SourceTable","type":"Expression"},"type":"String"},"WatermarkColumn":{"value":{"value":"@item().WatermarkColumn","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":"FINAL_DB"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"string"}},"folder":{"name":"Amans-pipe"},"annotations":[],"lastPublishTime":"2026-05-04T09:44:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/metadata_ds')]","[concat(variables('factoryId'), '/datasets/source_ds')]","[concat(variables('factoryId'), '/datasets/target_ds')]"]},{"name":"[concat(parameters('factoryName'), '/DB_3_PIPE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LKP_Metadata","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat(\n'\nSELECT \n    M.TableName,\n    M.SourceDB,\n    M.SourceSchema,\n    M.SourceTable,\n    M.TargetSchema,\n    M.StagingTable,\n    M.LoadType,\n    M.WatermarkColumn,\n    M.DependencyOrder,\n    M.StoredProcedureName,\n    M.PipelineName,\n    M.ProcessOrder,\n    M.RunMode,\n    M.StagingSchema,\n    M.PrimaryKeyColumn,\n    M.ScheduleCode AS MetadataScheduleCode,\n\n    S.ScheduleCode AS ScheduleCode,\n    S.is_active,\n    S.belong_DB\n\nFROM final_schema.metadata_config AS M\nJOIN final_schema.Schedule_Codes AS S\n    ON S.ScheduleCode = M.ScheduleCode\n\nWHERE S.is_active = 1 \n  AND M.IsActive = 1\n',\nif(\n    empty(pipeline().parameters.TableList),\n    ' AND M.ScheduleCode = ''SC03'' ',\n    concat(\n        ' AND M.TableName IN (''',\n        join(\n            split(pipeline().parameters.TableList, ','),\n            ''','''\n        ),\n        ''')'\n    )\n),\n' ORDER BY M.DependencyOrder'\n)","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_Tables","type":"ForEach","dependsOn":[{"activity":"LKP_Metadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LKP_Metadata').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"IF_FullOrIncremental","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(item().LoadType, 'FULL')","type":"Expression"},"ifFalseActivities":[{"name":"LKP_Watermark","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT last_watermark_value FROM final_schema.watermark_control WHERE target_table = ''', item().SourceTable, ''' AND is_active = 1')","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":true}},{"name":"COPY_Incremental_Load","type":"Copy","dependsOn":[{"activity":"LKP_Watermark","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable, ' WHERE ', item().WatermarkColumn, ' > ''', activity('LKP_Watermark').output.firstRow.last_watermark_value, '''')","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)","type":"Expression"},"writeBehavior":"insert"},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().StagingSchema","type":"Expression"},"tableName":{"value":"@item().StagingTable","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"COPY_Full_Load","type":"Copy","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable)","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@{concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().TargetSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}]}]}},{"name":"SP_MERGE_P1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"IF_FullOrIncremental","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[final_schema].[SP_GENERIC_MERGE]","storedProcedureParameters":{"LoadType":{"value":{"value":"@item().LoadType","type":"Expression"},"type":"String"},"PrimaryKeyColumn":{"value":{"value":"@item().PrimaryKeyColumn","type":"Expression"},"type":"String"},"StagingSchema":{"value":{"value":"@item().StagingSchema","type":"Expression"},"type":"String"},"StagingTable":{"value":{"value":"@item().StagingTable","type":"Expression"},"type":"String"},"TargetSchema":{"value":{"value":"@item().TargetSchema","type":"Expression"},"type":"String"},"TargetTable":{"value":{"value":"@item().SourceTable","type":"Expression"},"type":"String"},"WatermarkColumn":{"value":{"value":"@item().WatermarkColumn","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":"FINAL_DB"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"string"}},"folder":{"name":"Amans-pipe"},"annotations":[],"lastPublishTime":"2026-05-04T09:44:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/metadata_ds')]","[concat(variables('factoryId'), '/datasets/source_ds')]","[concat(variables('factoryId'), '/datasets/target_ds')]"]},{"name":"[concat(parameters('factoryName'), '/DB_4_PIPE')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LKP_Metadata","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat(\n'\nSELECT \n    M.TableName,\n    M.SourceDB,\n    M.SourceSchema,\n    M.SourceTable,\n    M.TargetSchema,\n    M.StagingTable,\n    M.LoadType,\n    M.WatermarkColumn,\n    M.DependencyOrder,\n    M.StoredProcedureName,\n    M.PipelineName,\n    M.ProcessOrder,\n    M.RunMode,\n    M.StagingSchema,\n    M.PrimaryKeyColumn,\n    M.ScheduleCode AS MetadataScheduleCode,\n\n    S.ScheduleCode AS ScheduleCode,\n    S.is_active,\n    S.belong_DB\n\nFROM final_schema.metadata_config AS M\nJOIN final_schema.Schedule_Codes AS S\n    ON S.ScheduleCode = M.ScheduleCode\n\nWHERE S.is_active = 1 \n  AND M.IsActive = 1\n',\nif(\n    empty(pipeline().parameters.TableList),\n    ' AND M.ScheduleCode = ''SC04'' ',\n    concat(\n        ' AND M.TableName IN (''',\n        join(\n            split(pipeline().parameters.TableList, ','),\n            ''','''\n        ),\n        ''')'\n    )\n),\n' ORDER BY M.DependencyOrder'\n)","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach_Tables","type":"ForEach","dependsOn":[{"activity":"LKP_Metadata","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LKP_Metadata').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"IF_FullOrIncremental","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(item().LoadType, 'FULL')","type":"Expression"},"ifFalseActivities":[{"name":"LKP_Watermark","type":"Lookup","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT last_watermark_value FROM final_schema.watermark_control WHERE target_table = ''', item().SourceTable, ''' AND is_active = 1')","type":"Expression"},"partitionOption":"None"},"dataset":{"referenceName":"metadata_ds","type":"DatasetReference","parameters":{}},"firstRowOnly":true}},{"name":"COPY_Incremental_Load","type":"Copy","dependsOn":[{"activity":"LKP_Watermark","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable, ' WHERE ', item().WatermarkColumn, ' > ''', activity('LKP_Watermark').output.firstRow.last_watermark_value, '''')","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)","type":"Expression"},"writeBehavior":"insert"},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().StagingSchema","type":"Expression"},"tableName":{"value":"@item().StagingTable","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"COPY_Full_Load","type":"Copy","dependsOn":[],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable)","type":"Expression"},"partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"@{concat('TRUNCATE TABLE ', item().TargetSchema, '.', item().StagingTable)}","type":"Expression"},"writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false},"inputs":[{"referenceName":"source_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"@item().SourceDB","type":"Expression"},"schemaName":{"value":"@item().SourceSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}],"outputs":[{"referenceName":"target_ds","type":"DatasetReference","parameters":{"databaseName":{"value":"FINAL_DB","type":"Expression"},"schemaName":{"value":"@item().TargetSchema","type":"Expression"},"tableName":{"value":"@item().SourceTable","type":"Expression"}}}]}]}},{"name":"SP_MERGE_P1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"IF_FullOrIncremental","dependencyConditions":["Succeeded"]}],"policy":{"retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[final_schema].[SP_GENERIC_MERGE]","storedProcedureParameters":{"LoadType":{"value":{"value":"@item().LoadType","type":"Expression"},"type":"String"},"PrimaryKeyColumn":{"value":{"value":"@item().PrimaryKeyColumn","type":"Expression"},"type":"String"},"StagingSchema":{"value":{"value":"@item().StagingSchema","type":"Expression"},"type":"String"},"StagingTable":{"value":{"value":"@item().StagingTable","type":"Expression"},"type":"String"},"TargetSchema":{"value":{"value":"@item().TargetSchema","type":"Expression"},"type":"String"},"TargetTable":{"value":{"value":"@item().SourceTable","type":"Expression"},"type":"String"},"WatermarkColumn":{"value":{"value":"@item().WatermarkColumn","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":"FINAL_DB"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"string"}},"folder":{"name":"Amans-pipe"},"annotations":[],"lastPublishTime":"2026-05-04T09:44:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/metadata_ds')]","[concat(variables('factoryId'), '/datasets/source_ds')]","[concat(variables('factoryId'), '/datasets/target_ds')]"]},{"name":"[concat(parameters('factoryName'), '/source_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":{"value":"@dataset().databaseName","type":"Expression"}}},"parameters":{"databaseName":{"type":"string"},"schemaName":{"type":"string"},"tableName":{"type":"string"}},"folder":{"name":"amans-ds"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().schemaName","type":"Expression"},"table":{"value":"@dataset().tableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/target_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Aman')]","type":"LinkedServiceReference","parameters":{"DB_Name":{"value":"@dataset().databaseName","type":"Expression"}}},"parameters":{"databaseName":{"type":"string"},"schemaName":{"type":"string"},"tableName":{"type":"string"}},"folder":{"name":"amans-ds"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().schemaName","type":"Expression"},"table":{"value":"@dataset().tableName","type":"Expression"}}},"dependsOn":[]}]}